h1, h2{
    color: white;
    text-align: center;
}

p{
    color: darkgrey;
    margin-left: 3cm;
    margin-right: 3cm
}

.center
{
    text-align: center;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body
{
    background-image: url('sources/background.png');
    background-size: contain;
}
footer
{
    
    margin-left: 2cm;
    margin-right: 2cm;
    background-color: #101700;
}