.start{
    margin-top: 200px;
    color: yellow;
    text-align:center;
}
h1, h2, h3{
    color: white;
    font-size:xx-large;
}
h4{
    color: white;
    font-size:x-large;
}


p{
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.center
{
    text-align: center;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body
{
    background-image: url('background.png');
    background-size: cover;
    background-repeat: repeat-y;
    backdrop-filter: blur(8px);
    background-attachment: fixed;
    margin-left: 3cm;
    margin-right: 3cm;
    padding-left: 20px;
    padding-right: 20px;
}

footer
{
    
    margin-left: 2cm;
    margin-right: 2cm;
    background-color: #101700;
}

.spacing{
    margin-bottom: 100px;
}
